/***** COLORS *****/

/*

// Dark Grey = #575757
// Light Grey = #C7C4C4
// Blue = #0CAADC
// White = #f6f6f6

*/

@media screen and (max-width: 600px) {

    * {
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    /***** HEADER *****/
    .logo {
        display: block;
        margin: 0 auto;
        height: 50px;
        width: auto;
        padding: 20px 0px;
    }
    
    .social {
        display: none;
    }

    /***** NAV *****/
    nav {
        display: none;
    }

    .mainNav {
        list-style: none;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .mainNav img {
        height: 30px;
    }

    .mainNav a {
        text-decoration: none;
        color: #0CAADC;
    }

    .mainNav li {
        display: block;
    }


    /***** HERO *****/
    .heroText {
        padding-left: 20px;
    }

    .heroMobile {
        background-color: #0CAADC;
    }

    .hero p {
        font-size: 120%;
        margin-bottom: 50px;
    }

    #heroText {
        padding-top: 10px;
        margin-top: 50px;
        font-size: 210%;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
    }

    #heroText strong {
        color: #000;
    }

    .golfMobile {
        width: 100%;
    }





    /***** ADVANTAGE RIB *****/
    .AdvantageRib {
        padding-left: 20px;
    }

    .AdvantageRib h2 {
        display: none;
        font-size: 200%;
        text-align: center;
        padding: 10px 0px;
        margin: 10px 0px;
    }

    .AdvantageRib img {
        height: 60px;
        padding: 10px 0px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }

    .AdvantageRib img:after {
        display: block;
        height: 2px;
        background-color: #0CAADC;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .AdvantageRib p {
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding-right: 20px;
    }






    /***** ABOUT *****/
    .about {
        padding: 0px 10px;
        background-color: #0CAADC;
    }

    .about h2 {
        text-align: center;
        color: #fff;
        font-size: 200%;
        margin-top: 10px;
        padding-top: 10px;
    }

    .about h2:after {
        display: block;
        height: 2px;
        background-color: #575757;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .aboutDescription {
        padding-top: 10px;
        margin-top: 10px;
        color: #fff;
    }

    .aboutContact {
        padding-top: 10px;
        margin-top: 10px;
        text-align: center;
        color: #fff;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    .aboutContact a {
        color: #fff;
        text-decoration: none;
    }

    .aboutContact span {
        color: #575757;
        font-size: 150%;
    }



    /***** EVENTS*****/
    .events {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
    }

    .events h2 {
        text-align: center;
        color: #575757;
        font-size: 200%;
        margin-top: 10px;
        padding-top: 10px;
    }

    .events h2:after {
        display: block;
        height: 2px;
        background-color: #0CAADC;
        content: " ";
        width: 70px;
        margin: 0 auto;
        margin-top: 3px;
    }
    
    .events h3 {
        text-align: center;
        color: #575757;
        font-weight: 300;
        font-size: 200%;
        margin-top: 10px;
        padding-top: 25px;
    }

    .events h3:after {
        display: block;
        height: 2px;
        background-color: #0CAADC;
        content: " ";
        width: 70px;
        margin: 0 auto;
        margin-top: 3px;
    }
    
    #future {
        padding-top: 80px;
    }
    
    .planned,
    .future {
        background-color: #f6f6f6;
        height: 300px;
        margin-top: 20px;
    }
    
    .planned p,
    .future p {
        text-align: center;
        padding-top: 10%;
    }
    
    .future p {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .events img {
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }





    /***** BOTTOM CONTACT *****/
    .botContact {
        padding-left: 20px;
        background-image: linear-gradient( rgba(12, 170, 220, 0.6),rgba(12, 170, 220, 0.6)), url(img/cloudsColor.jpg);
    }

    .links,
    .contact,
    .follow {
        color: #fff;
    }
    
    .links h2,
    .contact h2,
    .follow h2 {
        font-size: 200%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .contact a {
        color: #fff;
        text-decoration: none;
    }
    
    .contact span {
        color: #575757;
        font-size: 110%;
    }
    
    .follow li {
        list-style: none;
    }
    
    .follow {
        margin-bottom: 20px;
    }
    
    .follow a {
        text-decoration: none;
        color: #fff;
    }
    
    
    












    /***** FOOTER *****/
    .footer {
        padding-left: 20px;
        background-color: #575757;
        text-align: center;
        color: #fff;
    }
    
    .footer a {
        text-decoration: none;
        color: #0CAADC;
    }
    
    .footer p {
        padding: 20px 0px;
    }

    .footer span {
        color: #fff;
    }






}